.App {
  text-align: center;
}

.AppContainer {
  width: 90vw;
  height: 90vh;
  display: flex;
  margin: 3%;
  font-size: 40px;
}

.display {
  width: 50%;
  /* background-color: coral; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}



.scoreImage {
  height: 60px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slide 0.3s ease-out;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@keyframes slide {
  0% {
    transform: translateY(-30px);
    opacity: 0.4;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.scoreImage:nth-child(1){
  animation: enter 0.3s ease-in
}

@keyframes enter {
  0% {
    transform: scale(2.5);
    opacity: 0;
  }
  100& {
    transform: scale(0);
    opacity: 1;
  }
}

.scoreValue {
  height: 40px;
}

.arrow {
  height: 40px;
}

.okashira {
  height: 40px;
}

.buttons {
  width: 50%;
  
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.box {
  font-size: 20px;
  height: 50px;
}