.App {
  text-align: center;
}

.AppContainer {
  width: 90vw;
  height: 90vh;
  display: flex;
  margin: 3%;
  font-size: 40px;
}

.display {
  width: 50%;
  background-color: coral;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.scoreImage {
  height: 60px;
  width: 200px;
  background-color: #e4e477;
}

.buttons {
  width: 50%;
  background-color: #61dafb;
  
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}