.App {
  text-align: center;
}

.AppContainer {
  width: 90vw;
  height: 90vh;
  display: flex;
  margin: 3%;
  font-size: 40px;
}

.display {
  width: 50%;
  background-color: coral;
}

.buttons {
  width: 50%;
  background-color: #61dafb;
  
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}